@font-face {
  font-family: "iconfont"; /* Project id 4037436 */
  src: url('iconfont.woff2?t=1682391590953') format('woff2'),
       url('iconfont.woff?t=1682391590953') format('woff'),
       url('iconfont.ttf?t=1682391590953') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yx_icon_left:before {
  content: "\e67f";
}

.icon-yx_icon_right:before {
  content: "\e680";
}

.icon-yx_icon_down:before {
  content: "\e681";
}

.icon-yx_image:before {
  content: "\e682";
}

.icon-yx_menu:before {
  content: "\e683";
}

.icon-yx_loader:before {
  content: "\e684";
}

.icon-yx_star:before {
  content: "\e685";
}

.icon-yx_list:before {
  content: "\e686";
}

.icon-yx_icon_up:before {
  content: "\e687";
}

